@font-face{ 
	font-family: 'MyWebFont';
	src: url('../fonts/signaturecollection-webfont.eot');
	src: url('../fonts/signaturecollection-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/signaturecollection-webfont.woff') format('woff'),
	     url('../fonts/signaturecollection-webfont.ttf') format('truetype'),
	     url('../fonts/signaturecollection-webfont.svg#webfont') format('svg');
}
/*--------------------------------------------------*/
/* || HERO SECTION */

/* MOBILE VERSION : 768px */
@media only screen and (max-width: 767px)   {
    .hero-row {
        display:none;
    }
/*row1 */
.hero-mobile {
    height: 149.5vw;
    background-image: url('../img/mobhero-backgrnd.jpg');
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
}

.mobhero-content {
    /* background-color: khaki;  */
    display:flex;
    width: 80%;
    height: 90%;
    flex-direction:column;
    align-self: center;
    
}
.mob-logo {
    /* background-color: rgb(49, 48, 40);  */
    height: 20vw;
    width: 40vw;
    align-self: center;
    margin: 0 5vw;
   
}
.mob-logo img {
    height: 100%;
    width: 70%;
    align-self: center;
    display:flex;
    margin: 0 6vw;
}
.mobhero-text {
    align-self: center;
    margin: 80% 0 0 0;
    
}
.mobhero-text h1 {
    font-size: 13vw;
    font-family: 'MyWebFont';
    color: #ffffff;
    font-weight: 500;
}
.mobhero-button {
    align-self: center;
    margin: 5% 0 0 0;
  
}
.mobhero-btn {
    border-radius: 15px;
    background-color: #db5b02;
    height: 10vw;
    width: 60vw;
    border: none;
    display: flex;
}
.mobhero-btn:hover {
    border-radius: 15px;
    background-color: #1d1d1d;
    color: #ffffff;
    height: 10vw;
    width: 60vw;
    border: none;
}
.mobhero-btn span{
    font-family: 'Bebas Neue';
    font-size: 4vw;
    letter-spacing: .3vw;
    font-weight: 300;
    color: #ffffff;
    align-self: center;
}
/*End row1 */
}

/* END OF MOBILE VERSION */


/* TABLET VERSION : 768px - 992px */
@media only screen and (min-width: 768px) and (max-width: 991px)  {
    .hero-mobile  {
        display:none;
    }
    .hero-row {
        /* background-color: red; */
        height: 90%;
        position: relative;
    }
    .hero-row::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .hero-topbar {
        /* position: absolute; */
        /* background-color: rgb(0, 0, 0); */
        height: 10%;
        display:flex;
        width: 100%;
        flex-direction:row;
        border: none;
        padding: 0;
        z-index: 2;
    }
    .hero-logo {
        /* background-color: green; */
        position: relative;
        width: 15%;
        height: auto;
        margin: 0vw 0 0vw 3vw;
    }
    .hero-logo img {
        height: auto;
        width: auto;
        padding:2vw;
        
    }
    .hero-text {
        /* background-color: greenyellow; */
        height: 20%;
        display:inline-block;
        width: 70%;
        text-align: end;
        margin-right: 6vw;
        
    }
    .hero-text span {
        color: rgb(255, 255, 255);
        margin: 0 2vw;
        font-family: 'Bebas Neue';
        font-weight: 300;
        font-size: 1.5vw;
        letter-spacing: .1vw;
    }
    
    .hero-text .fa {
        letter-spacing: -10rem;
        font-size: 2.5vw;
        font-weight:600;
        color: rgb(255, 255, 255);  
        margin: 0vw 1.5vw 0 1vw;
    }
    .hero-text .fa:hover {
        letter-spacing: -10rem;
        font-size: 2.5vw;
        font-weight:600;
        color: #db5b02;  
        margin: 0vw 1.5vw 0 1vw;
    }
    .hero-content {
        /* background-color: black; */
        height: 90%;
        display:flex;
        width: 100%;
        flex-direction:row;
    }
    .hero-left {
        /* background-color: brown; */
        height: 60%;
        width: 50%;
        padding:7vw 0 3vw 0;
        z-index: 2;
    }
    .hero-left-txt {
        /* background-color: orangered; */
        height: 100%;
        width: 100%;
        text-align: center;
        
    }
    .hero-left-txt h1{
        font-family: 'MyWebFont';
        font-weight: 500;
        color: ivory;
        font-size: 8vw;
        margin-top: 15%;

    }
    .hero-left-txt button {
        border-radius: 15px;
        background-color: #db5b02;
        /* height: 20%; */
        width: 70%;
        border: none;
        font-family: 'Bebas Neue';
        font-size: 2.5vw;
        color: ivory;
        opacity: .9;
        
        
    }
    .hero-left-txt button:hover {
        border-radius: 15px;
        background-color: #1d1d1d;
        color: #ffffff;
        /* height:20%; */
        width: 70%;
        border: none;
    }
    
}

/* END OF TABLET VERSION */

/* LAPTOP VERSION : 992px - 1200*/
@media only screen and (min-width: 992px) and (max-width: 1199px)   {
    .hero-mobile {
        display:none;
    }
    .hero-row {
        /* background-color: red; */
        height: 90%;
         position: relative;
    }
    .hero-row::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .hero-topbar {
        /* position: absolute; */
        /* background-color: rgb(0, 0, 0); */
        height: 15%;
        display:flex;
        width: 100%;
        flex-direction:row;
        border: none;
        z-index: 2;
        
    }
    .hero-logo {
        /* background-color: green; */
        position: relative;
        width: 15%;
        height: auto;
        margin: 0vw 0 0vw 3vw;
    }
    .hero-logo img {
        height: auto;
        width: auto;
        padding:2vw;
        
    }
    .hero-text {
        /* background-color: greenyellow; */
        height: 20%;
        display:inline-block;
        width: 70%;
        text-align: end;
        margin-right: 6vw;
        
    }
    .hero-text span {
        color: rgb(255, 255, 255);
        margin: 0 2vw;
        font-family: 'Bebas Neue';
        font-weight: 300;
        font-size: 1.5vw;
        letter-spacing: .1vw;
    }
    
    .hero-text .fa {
        letter-spacing: -10rem;
        font-size: 2.5vw;
        font-weight:600;
        color: rgb(255, 255, 255);  
        margin: 0vw 1.5vw 0 1vw;
    }
    .hero-text .fa:hover {
        letter-spacing: -10rem;
        font-size: 2.5vw;
        font-weight:600;
        color: #db5b02;  
        margin: 0vw 1.5vw 0 1vw;
    }
    .hero-content {
        /* background-color: black; */
        height: 85%;
        display:flex;
        width: 100%;
        flex-direction:row;
    }
    .hero-left {
        /* background-color: brown; */
        height: 60%;
        width: 50%;
        padding:7vw 0 0 0;
        z-index: 2;
    }
    .hero-left-txt {
        /* background-color: orangered; */
        height: 100%;
        width: 100%;
        text-align: center;
        
    }
    .hero-left-txt h1{
        font-family: 'MyWebFont';
        font-weight: 500;
        color: rgb(255, 255, 255);
        font-size: 8vw;
        margin-top: 15%;

    }
    .hero-left-txt button {
        border-radius: 15px;
        background-color: #db5b02;
        /* height: 20%; */
        width: 70%;
        border: none;
        font-family: 'Bebas Neue';
        font-size: 2.5vw;
        color: ivory;
        opacity: .9;
        
        
    }
    .hero-left-txt button:hover {
        border-radius: 15px;
        background-color: #1d1d1d;
        color: #ffffff;
        /* height:20%; */
        width: 70%;
        border: none;
    }
    
}
/* End Laptop Version */

/* DESKTOP VERSION : 1200px */
@media only screen and (min-width: 1200px)  {
    .hero-mobile {
        display:none;
    }
    .hero-row {
        /* background-color: red; */
        height: 100%;
        position: relative;
    }
    .hero-row::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .hero-topbar {
        /* background-color: rgb(0, 0, 0); */
        /* position: absolute; */
        height: 10%;
        display:flex;
        width: 100%;
        flex-direction:row;
        border: none;
        padding: 0;
        z-index: 2;
    }
    .hero-logo {
        /* background-color: green; */
        position: relative;
        width: 15%;
        height: auto;
        margin: 0vw 0 0vw 3vw;
    }
    .hero-logo img {
        height: auto;
        width: auto;
        padding:2vw;
        
    }

    .team-subimage {
        height: 200px;
        width: 200px;
    }
    .hero-text {
        /* background-color: greenyellow; */
        height: 20%;
        display:inline-block;
        width: 70%;
        text-align: end;
        margin-right: 6vw;
        
    }
    .hero-text span {
        color: rgb(255, 255, 255);
        margin: 0 2vw;
        font-family: 'Bebas Neue';
        font-weight: 300;
        font-size: 1.5vw;
        letter-spacing: .1vw;
    }
    
    .hero-text .fa {
        letter-spacing: -10rem;
        font-size: 2.5vw;
        font-weight:600;
        color: rgb(255, 255, 255);  
        margin: 0vw 1.5vw 0 1vw;
    }
    .hero-text .fa:hover {
        letter-spacing: -10rem;
        font-size: 2.5vw;
        font-weight:600;
        color: #db5b02;  
        margin: 0vw 1.5vw 0 1vw;
    }
    .hero-content {
        /* background-color: black; */
        height: 90%;
        display:flex;
        width: 100%;
        flex-direction:row;
    }
    .hero-left {
        /* background-color: brown; */
        height: 60%;
        width: 70%;
        padding:3vw 0 0 0;
        z-index: 2;
    }
    .hero-left-txt {
        /* background-color: orangered; */
        height: 100%;
        width: 100%;
        text-align: center;
        
    }
    .hero-left-txt h1{
        font-family: 'MyWebFont';
        font-weight: 500;
        color: rgb(255, 255, 255);
        font-size: 8vw;
        margin-top: 15%;

    }
    .hero-left-txt button {
        border-radius: 15px;
        background-color: #db5b02;
        /* height: 20%; */
        width: 50%;
        border: none;
        font-family: 'Bebas Neue';
        font-size: 2.5vw;
        color: ivory;
        opacity: .9;
        
        
    }
    .hero-left-txt button:hover {
        border-radius: 15px;
        background-color: #1d1d1d;
        color: #ffffff;
        /* height:20%; */
        width: 50%;
        border: none;
    }

}
.hero-icon{
    color: white;
    font-size: 22px;
}
.hero-icon:hover{
    color: #db5b02;
}
.embed-responsive-16by9{
    width: 100%;
}
/* End Desktop Version */


/* || END HERO SECTION */



#videoBG {
    z-index: -1;
    position: absolute;
    max-width: 100%; 
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* @media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
} */
