@font-face{ 
	font-family: 'MyWebFont';
	src: url('../fonts/signaturecollection-webfont.eot');
	src: url('../fonts/signaturecollection-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/signaturecollection-webfont.woff') format('woff'),
	     url('../fonts/signaturecollection-webfont.ttf') format('truetype'),
	     url('../fonts/signaturecollection-webfont.svg#webfont') format('svg');
}
/*--------------------------------------------------*/
/* || MESSAGE SECTION */


/* MOBILE VERSION : 768px */
@media only screen and (max-width: 767px)   {
    .message-desktop {
        display:none;
    }
    .message-content {
        height: 30vw;
        background-color: black;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .message-text h2 {
        font-family: 'Bebas Neue';
        font-size: 6vw;
        color: #ffffff;
        line-height: 1;
    }
}


/* TABLET VERSION : 768px - 992px */
@media only screen and (min-width: 768px) and (max-width: 991px)  {
    .message-mobile  {
        display:none;
    }
    .message-desktop {
        background-color: rgb(255, 255, 255);
        height: 60%;
        
    }
    .msg-left {
        /* background-color: rgb(30, 31, 94); */
        overflow: hidden;  
        height: 100%;
        width: 100%;
    }
    .msg-vid {
        width: 100%;
        height: 100%;
    }
    .msg-right  {
        /* background-color: rgb(116, 83, 32); */
        overflow: hidden;
        padding: 2vw 8vw 0 4vw;
        align-self: center;
        
        
    }
    .msg-right h2 {
        font-family: 'Bebas Neue';
        font-weight: 400;
        font-size: 3vw;
        color: #202020;
       
    }
    .msg-right p {
        font-family: 'Helvetica, sans-serif';
        font-size: 1.7vw;
        color: #202020;
        text-align: justify;
        
    }

}
/* END OF TABLET VERSION */

/* LAPTOP VERSION : 992px - 1200*/
@media only screen and (min-width: 992px) and (max-width: 1199px)   {
    .message-mobile {
        display:none;
    }
    .message-desktop {
        background-color: rgb(255, 255, 255);
        height: 60%;
        
    }
    .msg-left {
        /* background-color: rgb(30, 31, 94); */
        overflow: hidden;  
        height: 100%;
        width: 100%;
    }
    .msg-vid {
        width: 100%;
    }
    .msg-right  {
        /* background-color: rgb(116, 83, 32); */
        overflow: hidden;
        padding-right: 8vw;
        padding-left: 3vw;
        align-self: start;
        padding-top: 4vw;
        
    }
    .msg-right h2 {
        font-family: 'Bebas Neue';
        font-weight: 400;
        font-size:2.5vw;
        color: #202020;
       
    }
    .msg-right p {
        font-family: 'Helvetica, sans-serif';
        font-size: 1.5vw;
        color: #202020;
        text-align: justify;
        
    }

}

/* DESKTOP VERSION : 1200px */
@media only screen and (min-width: 1200px)  {
    .message-mobile {
        display:none;
    }
    .message-desktop {
        background-color: rgb(255, 255, 255);
        height: 60%;
        
    }
    .msg-left {
        /* background-color: rgb(30, 31, 94); */
        overflow: hidden;  
        height: 100%;
        width: 100%;
    }
    .msg-vid {
        width: 100%;    
    }
    .msg-right  {
        /* background-color: rgb(116, 83, 32); */
        overflow: hidden;
        padding: 3vw 5vw;
        align-self: center;
        margin-top: -1vw;
        
    }
    .msg-right h2 {
        font-family: 'Bebas Neue';
        font-weight: 400;
        font-size: 4vw;
        color: #202020;
       
    }
    .msg-right p {
        font-family: 'Helvetica, sans-serif';
        font-size: 1.5vw;
        color: #202020;
        text-align: justify;
        line-height: 1em;
        
    }
}
/* End Desktop Version */

/* || END MESSAGE SECTION */